# LLM
OPENAI_API_KEY_TOKEN = your_openai_token

# observability langfuse
LANGFUSE_SECRET_KEY=sasdflkas_secret_api_key
LANGFUSE_PUBLIC_KEY=adlfasd_public_api_key_here
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
LANGFUSE_ENABLED=false # true-> user langfuse 

# Pince VDB
PINECONE_API_KEY =padfafa....
PINECONE_INDEX_NAME =index_name
PINECONE_REGION =us-east-1

# AWS cognito credencials
COGNITO_REGION=region
COGNITO_USER_POOL_ID=your_cognito_userpool
COGNITO_APP_CLIENT_ID= your_cognito_client_id